<div class="app-layout-container">
    <button class="btn-add" color="primary" mat-raised-button (click)="addCourse()">
      <mat-icon>add</mat-icon>
      Añadir Curso
    </button>
  
    <div class="message-empty-table" *ngIf="state.courses.length === 0; else table">
      No tiene cursos cargados en el sistema, para agregar utilice el boton "Añadir Curso"
    </div>
    <ng-template #table>
        <app-table-course
            [items]="state.courses"
            [isAdmin]="(role$ | async) === 'Administrador'"
            (removeCourse)="removeCourse($event)"
            (editCourse)="editCourse($event)"
        ></app-table-course>
    </ng-template>
</div>