<div class="app-layout-container">
  <button class="btn-add" color="primary" mat-raised-button (click)="addCourse()" *ngIf="(role$ | async) === 'Administrador'">
    <mat-icon>add</mat-icon>
    Añadir Curso
  </button>

  <div class="message-empty-table" *ngIf="courses.length === 0; else table">
    No tiene cursos cargados en el sistema <ng-container *ngIf="(role$ | async) === 'Administrador'">, para agregar utilice el boton "Añadir Curso"</ng-container>
  </div>
  <ng-template #table>
      <app-table-course
          [items]="courses"
          [isAdmin]="(role$ | async) === 'Administrador'"
          (removeCourse)="removeCourse($event)"
          (editCourse)="editCourse($event)"
      ></app-table-course>
  </ng-template>
</div>