.container {
    padding: 20px 30px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-section {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

.col:first-of-type {
    margin-right: 33px;
}

.error-message {
    color: #f44336;
    font-size: 10px;
    line-height: 1;
}