<div class="container">
  <h1 [appFontSize]="20" mat-dialog-title>Añadir Inscripción</h1>
  <form
    [formGroup]="inscriptionForm"
    autocomplete="off"
    class="form-container"
  >
    <section class="form-section">
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>Comisión</mat-label>
          <input
            [formControl]="commissionCtrl"
            matInput
            placeholder="Comisión"
            [tabIndex]="1"
            type="number"
          >

          <mat-error *ngFor="let error of commissionCtrl.errors | keyvalue">
            {{ error | controlErrorMessages }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Seleccionar Curso</mat-label>
            <mat-select [formControl]="courseNameCtrl" [tabIndex]="6">
              <mat-option *ngFor="let course of coursesList$ | async" [value]="course">
                {{course}}
              </mat-option>
            </mat-select>

            <mat-error *ngFor="let error of courseNameCtrl.errors | keyvalue">
              {{ error | controlErrorMessages }}
            </mat-error>
        </mat-form-field>

      </div>
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Añadir Mentoria</mat-label>
          <mat-select [formControl]="mentorsCtrl" multiple>
            <mat-option *ngFor="let mentor of mentorsList$ | async" [value]="mentor">{{mentor}}</mat-option>
          </mat-select>
          <mat-error *ngFor="let error of mentorsCtrl.errors | keyvalue">
            {{ error | controlErrorMessages }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Añadir Alumnos</mat-label>
          <mat-select [formControl]="studentsCtrl" multiple>
            <mat-option *ngFor="let student of studentsList$ | async" [value]="student">{{student}}</mat-option>
          </mat-select>
          <mat-error *ngFor="let error of studentsCtrl.errors | keyvalue">
            {{ error | controlErrorMessages }}
          </mat-error>
        </mat-form-field>
      </div>
    </section>
    <div mat-dialog-actions>
      <button
        mat-button
        (click)="onClose()"
      >Cancelar</button>
      <button
        mat-button
        [mat-dialog-close]="1"
        type="submit"
        (click)="onSubmit()"
        [disabled]="this.inscriptionForm.invalid"
      > Guardar </button>
    </div>
  </form>
</div>