.container {
    padding: 20px 30px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-section {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

.col:first-of-type {
    margin-right: 33px;
}