<div *ngIf="inscriptionsDetail && coursesAssigned" class="app-inscriptions-detail">
    <h1>{{ inscriptionsDetail.courseName }}</h1>
    <hr>
    <div>
        <h5>Detalle Curso Inscripto</h5>
        <div><b>Comisión:</b> #{{ inscriptionsDetail.commission }}</div>
        <div><b>Duración:</b> {{ coursesAssigned.duration }}</div>
    </div>
    <hr>
    <div>
        <h5>Mentores Asignados</h5>
        <ul>
            <li *ngFor="let mentors of inscriptionsDetail.mentors">{{ mentors }}</li>
        </ul>
    </div>
    <div>
        <h5>Estudiantes Asignados</h5>
        <div class="message-empty-table" *ngIf="studentsAssigned.length === 0; else studentsAssig">
            No tiene alumnos cargados en al curso
          </div>
        <ng-template #studentsAssig>
            <app-table-inscriptions
                [items]="studentsAssigned"
                [isAdmin]="(role$ | async) === 'Administrador'"
                (removeStudent)="removeInscriptionStudent($event)"
          ></app-table-inscriptions>
        </ng-template>
    </div>
</div>